.name {
    color: gold;
    background-color: black;
    text-align: center;
    font-size: 50px;
}

.description {
    text-align: center;
    font-size: 30px;
}

.navbar {
    background-color: aqua;
    text-align: center;
    width: 100%;
    border: 3px black;
    float: left ;
}

.linavbar {
    display: inline; 
    width: 100%;
    font-size: 20px;
    padding: 20px;
}

.imgpower {
    display:block;
    margin: auto;
    text-align: center;
}